{{extend "layout_app.html"}}

<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">
                <strong>{{=T('Home Page Management')}}</strong>
            </h2>
            <hr>

            <a class="btn btn-default" href="{{=URL('manager', 'add_home_slide_resource')}}">{{=T('Add an image')}}</a>
        </div>

      </div>
</div>

<div class="row">
    <div class="box">
        {{for mRow in mRows:}}
          <div class="span2 col-md-4">
            <div style="width:250px; height: 150px" >
              <a href="{{=URL('manager', 'download', args=[mRow.mFile])}}" >
                   <div class="ratio thumbnail" style="background-image:url('{{=URL('manager', 'download', args=[mRow.mFile])}}')" ></div>
              </a>
            </div>
          </div>
        {{pass}}
    </div>
</div>
